.expclass1{
	margin-left: 10%; 
	margin-right: 10%; 
	text-align: justify;
}

.expclass1 h1{
	font-size: 1.2em;
	color: black;
	font-weight: 800;
	opacity: 0.8;
}

.expclass1 h2{
	font-size: 1.35em;
	text-decoration: underline;
	margin-bottom: 1.5%;
	margin-top: 4%;
	font-weight: 800;
}

.expclass1 p{
	font-weight: 600;
}

.newclass strong{
	font-weight: 600 !important;
	color: black;
}
.newclass { 
	font-weight: 500;
	color: #201b1b;
}

.newclass2 span{
	font-weight: 600;
	color: #201b1b;
	font-weight: 1.1em;
}

.newclass3 {
	font-size: 1.2em;
}